body {
    padding: 20px;
}

h1 {
    border-bottom: 1px solid gray;
    margin-top: 0;
}

thumb {
    float: left;
    height: 100px;
    margin: -0.5em 1em 1.5em 0;
    padding-bottom: 1em;
    width: 100px;
}

.item-card {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 150px)
}

.viewer {
    height: 100%;
    width: 100%;
}