<md-content class="md-padding" layout-xs="column" layout="row" data-ng-init="vm.getBoxes()">
    <div flex-xs flex-gt-xs="120" layout="row">
        <div ng-repeat="n in vm.tools track by $index">
            <md-card data-ng-model="tool" md-theme="{{ showDarkTheme ? 'dark-red' : 'light-green' }}" md-theme-watch>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{n.name}}</span>
                    </md-card-title-text>
                </md-card-title>
                <div>
                    <img src="{{n.image}}" width="110" height="110"/>
                </div>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button >Details</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</md-content>